<!-- Description : User can drag drop images to images -->

<nav  class="navbar navbar-default navbar-fixed-top" id="mapnavigation">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-left" id="maplinks">
        <li><a href="#UploadImages">Upload Images</a></li>
        <li><a href="#ViewImages">View Uploaded Images</a></li>
        <li><a href="#imagegallery">Browse Image gallery</a></li>
        <li><a href="#dashboard">Dashboard</a></li>
      </ul>
    </div>
  </nav>
<br>
<h3 id="dashboard">Welcome {{userid}} </h3>
<br>
<br>
<div id="mapinfo"> You are viewing : {{mapname}} </div>
<br>
<div id="mapinfosec"></div>
<br>
<div id="manualtag" class="container-fluid">
    <div class="row">
     <div class="col-lg-4" id="imagethumb">
      <!-- Display uploaded images here as thumbnails -->
       <ul class="lists" id="thumbnail"></ul>
     </div>
     <div id="something" class="test"></div>
    <!--Start of Google Maps -->
      <div id="googlemapcontainer">
        <div class="col-lg-8">
              <div id="googleMap"style="height:380px;"></div>
         </div>
      </div>
    </div>
  </div>



<input id="searchbox" class="controls" type="text" placeholder="Search Box">
<!--Modal Window -->
    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Tagged Image</h4>
        </div>
        <div class="modal-body">
         <div id="image-container"></div>
          <form id="imagedescription">
            <input type="text" placeholder=" Enter Description" id="imageinfo">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-default" id="imagedescriptionsub">Submit</button>
        </div>
      </div>
    </div>
  </div>
<div class="container-fluid">
  <table class="table-responsive">
    <table class="table">
      <tbody>
      <tr>
        <td><button type="button" class="btn btn-primary" onclick="airplanehandler()">Airplane</button></td>
        <td><button type="button" class="btn btn-primary" onclick="bushandler()">Bus</button></td>
        <td><button type="button" class="btn btn-primary" onclick="trainhandler()">Train</button></td>
        <td><button type="button" class="btn btn-primary" onclick="ResetAll()">Reset All</button></td>
        <td><button type="button" class="btn btn-primary" onclick="SaveData()">Save Data</button></td>
      </tr>
      </tbody>
    </table>
  </table>

</div>

<!-- Options Modal -->
<div id="optionsmodal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Select Option</h4>
      </div>
      <div class="modal-body">
        <button class="btn btn-primary" id="airplane">Airplane</button>
        <button class="btn btn-primary" id="bus">Bus</button>
      </div>
      <div class="modal-footer" id="optionsfooter">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



