/* pages without navbar */
.body-user {
  background: #F8F8F8;
}
.container-login {
  max-width: 350px;
  margin: 0 auto;
}

.row-logo {
  padding-bottom: 15px;
}

.user-form {
  margin-bottom: 15px;
}

.user-form > h2 {
  font-size: 22px;
}

.user-form .input-top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.user-form .input-middle {
  margin-bottom: -1px;
  border-radius: 0;
}

.user-form .input-bottom {
  margin-bottom: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.user-form .input-single {
  margin-bottom: 15px;
}

.user-form .form-control {
  font-size: 16px;
  position: relative;
}

.user-form .form-control:focus {
  z-index: 2;
}
